<header>
    <nav>
        <div class="block1">
	<div class="headerText">
		<h1>Никола Тесла</h1>

		<a href="/kratko/">
			<p>Кратко</p>
		</a>
		<a href="/sudno/">
			<p>Радиоуправляемое судно</p>
		</a>
		<a href="/katushka/">
			<p>Катушка Тесла</p>
		</a>
		</a>
	</div>
	</div>
    </nav>
</header>