	<div class="block4" id="block4">
		
		<h1> {{mainTitle}}</h1>
		<p>
			В конце 1890-х и начале 1900-х Тесла экспериментировал с различными идеями, в которых он исследовал возможные способы беспроводной передачи электроэнергии. Системой, которая могла бы сделать это, была катушка Тесла, которая, без сомнения, является одним из его замечательных изобретений.
<br/>
<br/>
Они когда-то использовались коммерчески в радиопередатчиках и нескольких медицинских оборудованиях. Однако небольшие версии катушек Теслы используются для обнаружения утечек в системах высокого вакуума.


		</p>

	</div>