<div class="block2" id="block2">
		<h1> {{mainTitle}}</h1>
		<p>
			Никола Те́сла-— изобретатель в области электротехники и радиотехники сербского происхождения, учёный, инженер, физик. Родился в Австрийской империи, вырос в Австро-Венгрии, в последующие годы в основном работал во Франции и США. В 1891 году получил гражданство США.

Широко известен благодаря своему вкладу в создание устройств, работающих на переменном токе, многофазных систем, синхронного генератора и асинхронного электродвигателя, позволивших совершить так называемый второй этап промышленной революции.


		</p>

	</div>

	<div class="fixed">

	</div>