<div class="block3" id="block3">
		<h1> {{mainTitle}}</h1>
		<p>
			В 1898 году во время электрической выставки Тесла продемонстрировал (маленькое) радиоуправляемое судно, которое он мог маневрировать над водой. При этом он развлекал публику, создавая впечатление, будто лодка подчиняется голосовым командам зрителей. В действительности, однако, он управлял лодкой, используя радиочастоты. Он назвал эту технологию "телавтоматика". 

Для многих из присутствовавших там в тот день это был момент чистой магии. С другой стороны, немногие видели в нем потенциальную военную машину. Тесла получил патент США на это 1 июля 1898 года.


		</p>

	</div>